.Dashboard {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.Dashboard_Container {
  padding-top: 10px;
  max-width: 1400px;
  margin: auto;
  display: flex;
}
.Dashboard_Sidebar {
  background-color: white;
  width: 25%;
  height: 800px;
}
.Dashboard_Tables {
  background-color: rgb(105, 53, 53);
  width: 100%;
}
